.gradient_gold {
    position: relative;
}

.gradient_slider .slotholder:after,
.gradient_gold:after {
  width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(10, 10, 10, 0.80);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(10, 10, 10, 0.80)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(145deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: -webkit-linear-gradient(315deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.80)) 0, rgba(10, 10, 10, 0.80) 100%);
    /*background: rgba(195, 183, 33, 0.5);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(64, 97, 237, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(145deg, rgba(216, 202, 37, 0.7) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(315deg, rgba(239, 222, 19, 0.7) 0, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(135deg, rgba(255, 207, 64, 0.7)) 0, rgba(0, 0, 0, .5) 100%);*/
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#930011', endColorstr='#561493', GradientType=1);
}

.gradient_gold.opac8:after{
    background: rgba(10, 10, 10, 0.80);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(10, 10, 10, 0.80)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(145deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: -webkit-linear-gradient(315deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.80)) 0, rgba(10, 10, 10, 0.80) 100%);
    /*background: rgba(195, 183, 33, 0.5);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(64, 97, 237, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(145deg, rgba(216, 202, 37, 0.7) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(315deg, rgba(239, 222, 19, 0.7) 0, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(135deg, rgba(255, 207, 64, 0.7)) 0, rgba(0, 0, 0, .5) 100%);*/
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#930011', endColorstr='#561493', GradientType=1);
}

.gradient_slider .slotholder:after, .gradient_overlay-2:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(10, 10, 10, 0.80);
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(10, 10, 10, 0.80)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(145deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: -webkit-linear-gradient(315deg, rgba(10, 10, 10, 0.80) 0, rgba(10, 10, 10, 0.80) 100%);
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.80)) 0, rgba(10, 10, 10, 0.80) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#930011', endColorstr='#561493', GradientType=1);
}

.video-gold{
	object-fit: cover; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
}
.main_title_gold h2{
	color: #efac14;
}
.linked{
	text-align: center;
	float: right;
}
.linked:hover{
	text-align: center;
	color: #efac14;
	float: right;
}
.linked:active{
	text-align: center;
	color: #efac14;
	float: right;
}
.banner{
	width: 100%;
	height: 280px;
}

.new-navbar{
    height: 80px;
    margin-top: -18px;
}

.page_title .price-2 .inner-2 {
    margin: -5px;
    background-color: #ffb600;
    width: 220px;
    height: 70px;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 8px;
    color: #ffffff;
    font-weight: 400;
}

.page_title .price-2 {
    float: right;
    width: 220px;
    height: 70px;
    margin-top: 10px;
    border-radius: 4px;
    background: rgba(255,182,0,0.3);
}

#price2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    text-align: center;
    padding: 4px 12px;
    background: #444;
    border-radius: 0 0 10px 0;
    color: #fff;
    z-index: 9;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
}

#main_menu .navbar-nav .menu_button .button_cari {
    margin-top: 22px;
    padding: 8px 16px;
    color: #fff !important;
}

.button-2 {
    border: 1px solid;
    border-radius: 1px;
    font-size: .9em;
    /*padding: 8px 15px;*/
    background: #fff;
    border-color: #e6eff2;
    color: #a9a9a9;
    font-weight: 600;
    letter-spacing: .04em;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    display: inline-block;
    line-height: 1.82857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    background: #FFF;
    border: 1px solid #E5E5E5;
    color: #888;
    float: left;
    font-size: 13px;
     height: 13px; 
    letter-spacing: 1px;
    margin: 0;
    padding: 10px;
    width: 100%;
    outline: none;
}

/* ---------- 8.17 Rooms Grid View  ---------- */
#rooms_grid .room_grid_item_2 {
   background: #f5f5f5;
    margin-bottom: 50px;
    border: 1px solid #eeeeee;
    border-radius: 1px;
}

#rooms_grid .room_grid_item_2 .room_info {
    padding: 10px;

}

#rooms_grid .room_grid_item_2 .room_info .room_services {
    text-align: center;
}

#rooms_grid .room_grid_item_2 .room_info .room_services i {
    background: #ffb600;
    padding: 5px 14px;
    font-size: 1.2em;
    color: #fff;
    margin: 5px;
    border: 1px solid #efac14;
    border-radius: 2px;
    cursor: pointer;
}

#rooms_grid .room_grid_item_2 .room_info .room_services i:hover {
    background: #efac14;
}

#rooms_grid .room_grid_item_2 .room_info h3 {
    line-height: 2em;
    float: left;
}

#rooms_grid .room_grid_item_2 .room_info h3 a {
    font-family: 'Raleway', sans-serif;
    color: #a1b1c1;
    font-weight: 400;
    font-size: 1em;

}

#rooms_grid .room_grid_item_2 .room_info span {
    float: right;
    margin-top: 8px; 
    background: #eeeeee;
    font-size: .9em;
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid #e9e8e7;
}

#rooms_grid .room_grid_item_2 .room_info p {
    clear: both;
}